<ion-content [fullscreen]="true">




  <div *ngIf="player===1">
    Player 1 solved this logo 
    <div *ngIf="solvedCorrect">correctly</div>
    <div *ngIf="!solvedCorrect">incorrectly</div>
  </div>
  <div *ngIf="player===2">
    Player 2 solved this logo 
    <div *ngIf="solvedCorrect">correctly</div>
    <div *ngIf="!solvedCorrect">incorrectly</div>
  </div>

  <ion-button (click)="onNextLogo()">next</ion-button>


  <div *ngIf="player===0">No player solved this logo correctly</div>
</ion-content>